{% extends 'base.html' %}

{% block title %}
{% endblock title %}
Tracker
{% block content %}
    <main>
        <p>
            <a href="{% url 'home' %}">Home Page</a>
        </p>
        <div>
            <h1>Create a project</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
